name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:

# Release Please needs permisisons to write commits and open PRs.
permissions:
  contents: write
  pull-requests: write

# We will build and test across a number of Node.js versions. Some steps only
# occur for a single Node version (such as uploading coverage) - this variable
# defines which Node version to use for these steps (which should be the current
# Node Long-Term Support version).
env:
  NODE_LTS_VERSION: 22.x

jobs:
  validate:
    name: Validate

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
          - 20.x
          - 22.x

    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      # Setup the right version of Node.js.
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'

      # Install dependencies.
      - name: install
        run: npm install

      # Lint the code.
      - name: lint
        run: npm run lint

      # Build TypeScript.
      - name: build
        run: npm run build

      # Run all tests, including coverage.
      - name: test
        run: npm run test:cov

      # Validate that we can install wiht 'npm install' and then run 'ai'.
      - name: validate install
        run: |
          npm install -g .
          mkdir some-random-folder
          cd some-random-folder
          echo "Checking installed version..."
          ai --version || (echo "ai command failed" && exit 1)
          echo "Running 'ai config'..."
          ai config || (echo "ai config command failed" && exit 1)

      # Upload the artifacts folder.
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            ./artifacts/
        # Only upload artifacts for the build on the LTS version (we don't
        # need artifacts per node version).
        if: ${{ matrix.node-version == env.NODE_LTS_VERSION }}

  upload-coverage:
    name: Upload Coverage

    # The 'upload coverage' job will only run if successfully complete the
    # 'validate' job.
    needs: validate

    runs-on: ubuntu-24.04

    steps:
      # The source files must be present for codecov to be upload the file list
      # properly, otherwise no coverage is reported and the "unusable report"
      # error is shown. Took ages to work this out.
      - name: Checkout
        uses: actions/checkout@v4

      # Download the build artifacts.
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./artifacts

      # Upload coverage.
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          directory: ./artifacts/coverage
          token: ${{ secrets.CODECOV_TOKEN }}

  release-please:
    name: Release PR/Deploy
    runs-on: ubuntu-24.04

    # The 'release please' job will only run if successfully complete the
    # 'validate-main' job. The deployment steps only occur if this is a release
    # merge.
    needs: validate

    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
      
      - name: Checkout
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      # Setup the right version of Node.js.
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_LTS_VERSION }}
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.release_created }}

      # Build the distributable code.
      - name: Build Distributable
        run: |
          npm install
          npm run build
        if: ${{ steps.release.outputs.release_created }}

      # Publish the module to NPM.
      - name: Publish to NPM
        run: |
          # The 'npm publish' command will only run if an NPM_TOKEN secret is
          # set. If it is not set, warn the user.
          if [ "$NODE_AUTH_TOKEN" == "" ]; then
            echo "The 'NPM_TOKEN' secret must be set to deploy to NPM"
            exit 1
          else
            echo "The 'NPM_TOKEN' secret has been set - deploying to NPM..."
            npm publish --access=public
          fi
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
